/* ejemplo2.css RM20001 */
pais {background-color:blue;}
departamento {background-color:red; display:block;}
cabecera {color:white; display:inline;} apellido
{color:yellow; display:inline;}
habitantes {color:yellow;font-size:1cm; display:none;}